#btn {
    font-family: raleways;
    background-color: #22a55a;
    border-color: #22a55a;
    letter-spacing: 1px;
    font-size: 17px;
}


@media only screen and (max-width:576px) {
    #btn {
        letter-spacing: 1px;
        font-size: 8px;
    }
}